<!-- Heading Start-->
<div id="heading-breadcrumbs" class="brder-top-0 border-bottom-0">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Laptops</h1>
      </div>
    </div>
  </div>
</div>
<!--Heading End-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<article>
  <div class="container">
    <button type="button" onclick="window.location.href= '/admin/addlaptop'" style="background-color:#008295" class="btn btn-info btn-block my-4 col-md-2 ">
      Add Product </button>
    {{!--
    <a href="/admin/addlaptop">Add</a> --}}
    <div class="row">
      {{#each prodList}}
      <div class="column" style="margin: 35px;">
        <img src="../../public/img/Slider_Iamge_Apple.jpg" alt="laptop image" class="img-fluid">
        <p>
          
        </p>
        <p class="card-text"> ID : {{this._id}}</p>
        <p class="card-text">Name: {{this.prod_name}}</p>
        <p class="card-text">Brand:{{this.prod_brand}}</p>
        <p class="card-text">Price:${{this.prod_price}}</p>
        <p class="card-text">Screen Size:{{this.prod_screensize}} Inches </p>
        <p class="card-text">RAM:{{this.prod_ram}}GB</p>
        <p class="card-text">HDD: {{this.prod_hard_disk_size}}TB</p>
        <p class="card-text">Processor:{{this.prod_processor}}</p>
        <p class="card-text">Rating: {{this.prod_rating}}</p>
        <button type="submit" class="btn btn-success btn-block my-2" style="background-color:#008295" onclick="window.location.href = '/admin/updatelaptop/{{this._id}}'">
          Update Product
        </button>
        <button type="submit" class="btn btn-danger btn-block my-2" onclick="window.location.href = '/admin/deletelaptop/{{this._id}}'">
          Delete Product</button>
      </div>
      {{/each}}
    </div>
  </div>
</article>