
<!-- Heading Start-->
<div id="heading-breadcrumbs" class="brder-top-0 border-bottom-0">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Delete Laptop</h1>
      </div>
    </div>
  </div>
</div>
<!--Heading End-->
<p>{{message}}</p>
<ol>
  <li>ID: {{prod._id}}</li>
    <li>Name: {{prod.prod_name}}</li>
    <li>Laptop Image1:<img src="{{this.prod_image1}}" width="150" height="200" alt="image1" /></li>
    <li>Laptop Image2: <img src="{{this.prod_image2}}" width="150" height="200" alt="image2" /></li>
    <li>Laptop Image3: <img src="{{this.prod_image3}}" width="150" height="200" alt="image3" /></li>
    <li>Brand:{{prodList.prod_brand}}</li>
    <li>Price:{{prodList.prod_price}}</li>
    <li>Screen Size:{{prodList.prod_screensize}}</li>
    <li>RAM:{{prodList.prod_ram}}</li>
    <li>Processor:{{prodList.prod_processor}}</li>
    <li>HDD: {{prodList.prod_hard_disk_size}}</li>
    <li>Rating: {{prodList.prod_rating}}</li>
    <li>Sold: {{prodList.sold}}</li>
</ol>