
<div id="heading-breadcrumbs" class="brder-top-0 border-bottom-0">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Update Laptop</h1>
      </div>
    </div>
  </div>
</div>
<!--Heading End-->
<div class="container">
  <form method="POST" action="/admin/updatedlaptop">
    <input type="hidden" name="prodid" value="{{prod._id}}">
    Name: <input type="text" id="name" name="name" value="{{prod.prod_name}}" class="form-control mb-4 col-md-4"
      required autofocus>
    Brand: <input type="text" id="brand" name="brand" value="{{prod.prod_brand}}" class="form-control mb-4 col-md-4"
      required>
    Price: <input type="number" min="0" id="price" name="price" value="{{prod.prod_price}}" class="form-control mb-4 col-md-4"
      required>
    Screen Size: <input type="text" id="size" name="ss" value="{{prod.prod_screensize}}" class="form-control mb-4 col-md-4"
      required>
    RAM: <input type="text" id="ram" name="ram" class="form-control mb-4 col-md-4" value="{{prod.prod_ram}}" required>
    Processor:<input type="text" id="processor" name="processor" class="form-control mb-4 col-md-4" value="{{prod.prod_processor}}"
      required>
    HDD: <input type="number" min="1" id="hdd" name="hdd" class="form-control mb-4 col-md-4" value="{{prod.prod_hard_disk_size}}"
      required>
    Rating: <input type="number" min="1" max="5" class="form-control mb-4 col-md-4" id="rating" name="rating" placeholder="rating out of 5"
      value="{{prod.prod_rating}}" required>
    <button type="submit" style="background-color:#008a00" class="btn btn-success btn-block my-2 col-md-4">Update</button>
  </form>
</div>